# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
__pypackages__/
download/
env/
env.bak/
venv/
venv.bak/
ENV/
ENV.bak/



